<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <h1>VUTTR</h1>
    <h3>Very Useful Tools to Remember</h3>
    <section id="formulario-busca-tools">
        <div class="busca_adiciona">
            <form action="{{ url_for('busca') }}" method="get" enctype="application/x-www-form-urlencoded">
                <input type="text" id ='tools-palavrachave' name="palavra_chave" value="{{ palavra_chave if palavra_chave != None else '' }}" placeholder="search">
                <input type="checkbox" id="in_tags" name="in_tags" checked>
                <label for="in_tags">search in tags only</label>
            </form>
            <form action="{{ url_for('inserir')}}" method="post" enctype="application/x-www-form-urlencoded">
                <input type="submit" class="button_add" value="+ Add">
            </form>
        </div>
    </section>
    <section id="lista-tools">
        {% for tools in tools_list %}
            <div class="tools_card">
                <section class="tools" id="tools-{{ tools.id }}">
                    <div class="titulo_tool">
                        <header>
                            <a class="link_pagina" onCLick="window.open('{{ tools.link }}','_blank');">{{ tools.titulo }}</a>
                        </header>
                        <a class="botao-excluir" href="{{ url_for('excluir', id=tools.id) }}"><b>x</b> remover</a>
                    </div>
                    <article>{{ tools.descricao }}</article>
                </section>
            </div>
        {% endfor %}
    </section>
</body>
</html>