<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Web Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/vuttr.ico') }}">
</head>
<body>
    <div id="principal">
        <div id="nome_principal">
            <h1>VUTTR</h1>
            <h3>Very Useful Tools to Remember</h3>
        </div>
        <section id="formulario-busca-tools">
            <div class="busca_adiciona">
                <form action="{{ url_for('busca') }}" method="get" enctype="application/x-www-form-urlencoded">
                    <input type="text" id ='tools-palavrachave' name="palavra_chave" value="{{ palavra_chave if palavra_chave != None else '' }}" placeholder="search">
                    <input type="checkbox" id="in_tags" name="in_tags" checked>
                    <label for="in_tags">search in tags only</label>
                </form>
                <form onclick="abrirPopAdicionar()">
                    <input type="button" class="button_add" value="+ Add">
                </form>
            </div>
        </section>
        <section id="lista-tools">
            {% for tools in tools_list %}
                <div class="tools_card">
                    <section class="tools" id="tools-{{ tools.id }}">
                        <div class="titulo_tool">
                            <header>
                                <a class="link_pagina" onCLick="window.open('{{ tools.link }}','_blank');" href="#">{{ tools.titulo }}</a>
                            </header>
                            <a class="botao_excluir" onclick="abrirPopRemover({{ tools.id }})" href="#"><b>x</b> remover</a>
                        </div>
                        <article>{{ tools.descricao }}</article>
                        <div id="tags_listagem">
                            {% for tag in tools.tags %}
                                <li class="tag">#{{ tag }}</li>
                            {% endfor %}
                        </div>

                    </section>
                </div>
                <div class="remove_box" id="{{ tools.id }}">
                    <div class="titulo_box">
                        <a class="botao_excluir" id="fechar_cancelar" onclick="fecharPopRemover({{ tools.id }})" href="#"><b>x</b></a>
                        <h3>Remove tool</h3>
                    </div>
                    <p>Are you sure you want to remove {{ tools.titulo }}.</p>
                    <div id="botao_remover_t">
                        <a id="cancelar" class="button_style" onclick="fecharPopRemover({{ tools.id }})" href="#">Cancelar</a>
                        <a id="botao-excluir" class="button_style" href="{{ url_for('excluir', id=tools.id) }}">Yes, remove</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
    <div id="pop">
        <div class="titulo_box">
            <a href="#" id="fechar" onclick="fecharPopAdicionar()"><b>+</b></a>
            <h3>Add new tool</h3>
        </div>
        <form id="add_tool_form" action="{{ url_for('inserir')}}" method="post" enctype="application/x-www-form-urlencoded">
            <div id="input_tools">
                <h5>Tool Name</h5>
                <input type="text" name="titulo">
                <h5>Tool Link</h5>
                <input type="text" name="link">
                <h5>Tool description</h5>
                <textarea name="descricao"></textarea>
                <h5>Tags</h5>
                <input type="text" name="tags">
            </div>
            <div id="botao_add_t">
                <input type="submit" class="button_add_tool" value="Add tool">
            </div>
        </form>
    </div>

<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
</body>
</html>