*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    font-family: cursive;

    background: #ccc;
    opacity: 1.0;
}

#nome_principal h1{
    margin-top: 5%;
    font-size: 400%;
}

#nome_principal h3{
    margin-top: 1%;
    font-size: 200%;
}

#formulario-busca-tools {
    margin-bottom: 2%;
}

.busca_adiciona{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 0 2% 0;
}

input[type=text]{
    border: solid;
    padding: 1%;
}

#tools-palavrachave {
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 1%;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 25px;
    font-family: cursive;
}

.button_add {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 3% 50%;
    margin-left: -100%;
    font-weight: 900;
    box-shadow: 3px 3px 2px 0 rgb(0 0 0);
}

.button_add:hover {
    background-color: #555555;
    color: white;
}

.tools_card{
    width: 100%;
    align-items: flex-start;
    margin-bottom: 3%;
    padding: 15px;

    background: #fff;
    border-style: solid;
}

.tools a{
    font-size: 120%;
}

.tools{
    background: white;
    max-width: 900px;
    margin: 0 auto;
}

.titulo_tool{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botao-excluir{
    text-decoration: none;
    color: black;
}

#pop{
    width:40%;
    display:none;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 0 2% 2% 1%;
    border: solid;
    background: white;
}

#fechar{
    text-decoration: none;
    color: black;
    font-size: 200%;
}

.titulo_box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.titulo_box b{
    font-size: 150%;
    vertical-align: super;
}

.titulo_box h3{
    font-size: 120%;
}

#add_tool_form{
    padding:0 3% 0 3%;
}

#input_tools input{
    width:100%;
    margin-bottom:2.5%;
}

#input_tools textarea{
    width: 100%;
    height: 70px;
    border: solid;
    margin-bottom: 2.5%;
    resize: none;
    overflow: auto;
}

#input_tools h5{
    margin-bottom:1%;
    font-size: 100%;
}

#botao_add_t{
    display: flex;
    justify-content: flex-end;
}

.button_add_tool {
    width: 20%;
    background-color: white;
    color: black;
    border: solid;
    font-weight: 900;
    margin-top: 2%;
    box-shadow: 3px 3px 2px 0 rgb(0 0 0);
}

.button_add_tool:hover {
    background-color: #555555;
    color: white;
}